<h3>Students List component</h3>
<table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
     
      <tr *ngFor="let student of studentData" >
        <th scope="row">{{student.id}}</th>
        <td>{{student.name}}</td>
        <td>{{student.email}}</td>
        <td><button (click)="deleteStudent(student.id)">Delete</button></td>
      </tr>
     
    </tbody>
  </table>
